.Topmenu{
-fx-border-color: black;
 -fx-border-width: 0 .6px 0 0;
    -fx-background-color: linear-gradient(from 100px 100px to 25px 25px  ,purple ,  #3F2B63);
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.9) , 7, 0.0 , 0 , 1 );

    }

.mainpage{

  -fx-background-color:Platinum ;

}
.textfield{
-fx-background-color:white;
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.3) , 3, 1, 1 , 1 );
}
.textfield:hover{
  -fx-cursor:hand;

 -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.3) , 3, 1, 1 , 1 );
          }


.button{

 -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 20%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 5;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );

}
.button:hover{
        -fx-cursor:hand;
        -fx-background-color:purple;
        -fx-shadow: 0 0 10px 0;
        -fx-text-fill:white;

        }
.topMenuButtons{
  -fx-background-color:none;
  -fx-background-radius: 30px;

}
.topMenuButtons:hover{
      -fx-cursor:hand;
         -fx-background-color:purple;
         -fx-shadow: 0 0 10px 0;
         -fx-text-fill:white;
}